
footer {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: black;
  bottom: 0;
  color: #eee;
  z-index: 100;
}

contents{
padding-bottom: 10px;
}

footer {
  /* 下部固定 */
  bottom: 0;
  position: fixed;
}

footer div.content {
  margin: 0 auto;
  text-align: center;
}
