
@import url('pulldown_menu.css');

header, header+.background {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  padding: 0;
  background-color: black;
}

header {
  top: 0;
  position: fixed; /* 上部固定 */
}

header nav img.logo {
  padding: 10px;
  float: left;
}
