
@charset "utf-8";
@import ('nondestructive-reset.css');
@import ('normalize.css');
@import ('reset.css');

body {
  min-width: 800px;
  padding: 0;
  margin: 0 auto;
  animation: AnimationName 10s ease infinite;
  background: linear-gradient(45deg, #9370db, #afeeee, #6495ed);
  background-color: #999;
  color: #333;
}
@keyframes AnimationName {
    0% { background-position:0% 50% }
    50% { background-position:100% 50% }
    100% { background-position:0% 50% }
}

div#main {
  width: 800px;
  margin: 10px auto;
  padding: 0;
}

/* a:link { color: #0000ff; } */
/* a:visited { color: #000090; } */
/* a:hover { color: #c07100; } */
/* a:active { color: #c07100; } */
