
@charset "utf-8";
@import ('nondestructive-reset');

body {
  background-color: #ffffff;
  color: #404040;
  min-width: 800px;
}

a:link { color: #0000ff; }
a:visited { color: #000090; }
a:hover { color: #c07100; }
a:active { color: #c07100; }

header, div#main, footer {
  /* Centering */
  margin: 0 auto;
}
