
@charset "utf-8";
@import url('normalize.css');
/* @import url('reset.css'); */

body {
  min-width: 800px;
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
  background-color: #999;
  color: #333;
  display: flex;
  flex-direction: column;

  /* 画像ファイルの指定 */
  background: linear-gradient(rgba(108,184,255,.3), rgba(120,170,200,.1), rgba(255,163,255,.5)), url(../img/nagoya.jpg);

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  animation: AnimationName 10s ease infinite;
}
@keyframes AnimationName {
  0% { background-position:0% 50% }
  50% { background-position:100% 50% }
  100% { background-position:0% 50% }
}

div#main {
  width: 900px;
  margin: 0 auto;
  padding: 80px 0 10px; /* 上部パディングはヘッダの分 */
  overflow: auto;
}

/* a:link { color: #0000ff; } */
/* a:visited { color: #000090; } */
/* a:hover { color: #c07100; } */
/* a:active { color: #c07100; } */
