
a.e-mail {
  float: right;
  display: table-cell;
  line-height: 32px;
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  perspective: 300px;
  text-align: center;
  color: white;
}
header a.e-mail {
}

a.e-mail span {
  position: relative;
  display: inline-block;
  margin: 5px 5px 0;
  padding: 0 20px;
  background: #444;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
a.e-mail span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
a.e-mail:hover span,
a.e-mail:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}
a.e-mail:hover span::before,
a.e-mail:focus span::before {
  background: #666;
}
