
footer {
  min-width: 900px;
  width: 100%;
  bottom: 0;
  margin-top: auto;
  padding: 10px 0;
  background-color: black;
  bottom: 0;
  color: #eee;
}

footer div.content {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}
