
/* Style */

header nav.pulldown_menu {
  width: 900px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
header nav.pulldown_menu:before,
header nav.pulldown_menu:after {
  content: "";
  display: table;
}
header nav.pulldown_menu:after {
  clear: both;
}
header nav.pulldown_menu ul {
  list-style: none;
}
header nav.pulldown_menu li {
  width: 23%;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  text-align: center;
}
header nav.pulldown_menu li a,
header nav.pulldown_menu li span {
  margin: 0;
  padding: 15px 0 11px;
  background: black;
  color: #eee;
  display: block;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
}
header nav.pulldown_menu li ul {
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: 9999;
}
header nav.pulldown_menu li ul li {
  width: 100%;
}
header nav.pulldown_menu li ul li a,
header nav.pulldown_menu li ul li span {
  padding: 13px 15px;
  background: #333;
  border-top: 1px solid #555;
  text-align: left;
}
header nav.pulldown_menu li:hover > a,
header nav.pulldown_menu li:hover > span {
  background: #444;
}
header nav.pulldown_menu li a:hover,
header nav.pulldown_menu li span:hover {
  background: #777;
}

/* Animation (spread) */

header nav.pulldown_menu li ul li {
  height: 0;
  overflow: hidden;
  transition: .2s;
}
header nav.pulldown_menu li:hover ul li {
  height: 38px;
  overflow: visible;
}
