
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
@import url('normalize.css');
@import url('header.css');
@import url('footer.css');
@import url('content.css');

body {
  min-width: 1100px;
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
  background-color: white;
  color: #333;
  display: flex;
  flex-direction: column;

  /* Backgound */
  background: linear-gradient(rgba(108,184,255,.45), rgba(120,170,200,.1), rgba(255,163,255,.5)), url(/img/bg.png); /* 画像ファイルの指定 */
  background-position: center center; /* 画像を常に上下左右の中央に配置 */
  background-repeat: no-repeat; /* 画像をタイル状に繰り返し表示しない */
  background-attachment: fixed; /* 'コンテンツの高さ > 画像の高さ' の時に動くのを防止 */
  background-size: cover; /* 表示するコンテナの大きさに基づき背景画像を調整 */
  /* animation: yurayuraBG 10s ease infinite; /* アニメーション */ */
}
/* /* 面画を縮小した時に背景をゆらゆらさせる */ */
/* @keyframes yurayuraBG { */
/*   0% { background-position:0% 50% } */
/*   50% { background-position:100% 50% } */
/*   100% { background-position:0% 50% } */
/* } */

div#blur {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 60px;
  background: inherit;
  background-color: rgba(0,0,0,.30);
  box-shadow: 1px 1px 4px rgba(0,0,0,.2);
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 1.4rem;
  overflow: hidden;
  position: absolute;
  z-index: -5;
}
div#blur:before {
  width: 100%;
  background-color: rgba(50,50,50,.4);
  content: '';
  filter: blur(25px);
  position: absolute;
  top: 0; left:0; right:0; bottom:0;
  z-index: -1;
}
